.projects {
    height: 92%;
    width: 100%;

    .bg {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        background: #f8e8ca;

        .main {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}