.container {
    position: relative;
    width: 29vw;
    height: 29vw;
    border: 2px solid white;
    border-radius: 50%;

    .icons {
        position: relative;
        left: -50%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        position: absolute;
        inset: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .skill-img {
            width: 7vw;
            height: 7vw;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 1vh;
            background: #fff;
        }
        p {
            color: aliceblue;
            font-size: 3vh;
            text-align: center;
            width: 10vw;
        }
        .skill-level {
            display: flex;
            justify-content: center;
            img {
                width: 1vw;
                height: 1vw;
            }
        }
    }
}