.container {
    position: relative;
    width: 29vw;
    height: 29vw;
    border: 2px solid white;
    border-radius: 50%;

    .icon {
        position: relative;
        left: -50%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .imgBx {
            position: absolute;
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
            border: 1px solid white;
            box-shadow: 0 0 0 4px #222, 0 0 0 6px white;
            transform: rotate(calc(360deg / 4 * var(--i)));
            transform-origin: 17vw;
            z-index: 100;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                transform: rotate(calc(-360deg / 4 * var(--i)));
            }
        }
    }

    .content {
        position: absolute;
        inset: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content::before {
        content: "";
        position: absolute;
        inset: var(--inset);
        border: 4px solid transparent;
        border-left: 4px solid var(--borderLeftColor);
        border-right: 4px solid var(--borderRightColor);
        border-radius: 50%;
        z-index: 1;
        pointer-events: none;
    }

    .center {
        position: absolute;
        inset: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 2vh;
        }
    }
}