.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*******************************************************************/
    .bird {
        width: 15vh;
        height: 15vh;
        margin-left: 1.5vw;
    }

    /*******************************************************************/
    .header-btn-ctn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        margin-top: 1.5vw;

        img {
            width: 3vw;
            height: 3vw;
        }
    }
}