.contact-me {
    height: 92%;
    width: 100%;

    .bg {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        background: whitesmoke;

        .main {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .text-ctn {
                display: flex;
                flex-direction: column;
                width: 30vw;
                gap: 3vh;

                h1 {
                    font-size: 12vh;
                    line-height: 11vh;
                }
                
                span {
                    font-size: 3vh;
                }
            }

            .form-ctn {
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 3vh;
                    width: 40vw;

                    input, textarea {
                        padding: 20px;
                        background-color: transparent;
                        border: 1px solid black;
                        color: black;
                        border-radius: 5px;
                    }

                    button {
                        padding: 1vw;
                        border: none;
                        background-color: orange;
                        cursor: pointer;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}