@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Single+Day&display=swap');

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    scroll-snap-align: center;
    background-color: #161616;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*******************************************************************/
.section-1 {
    background: url('./img/section1/banner.jpg') no-repeat center center/cover;
}

/*******************************************************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*******************************************************************/
    .header-btn-ctn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        margin-top: 1.5vw;

        img {
            width: 3vw;
            height: 3vw;
        }
    }

    /*******************************************************************/
    .bird {
        width: 15vh;
        height: 15vh;
        margin-left: 1.5vw;
    }
}

/*******************************************************************/
.connect-btn {
    font-weight: 700;
    color: #121212d6;
    border: 2px solid #121212d6;
    padding: 1vw 1.5vw;
    font-size: 2.2vw;
    margin-right: 1.5vw;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.connect-btn::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #121212d6;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.connect-btn:hover {
    color: #fff;
}

.connect-btn:hover::before {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*******************************************************************/
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #121212d6;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 55vh;
        background: white;

        .links {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                height: 30vh;
                border-radius: 50%;
                margin-bottom: 5vh;
            }

            a {
                text-decoration: none;
                color: #121212d6;
                font-size: 3.5vh;
                display: inline-block;
                margin-bottom: 3vh;
            }

            a::after {
                content: "";
                width: 0;
                height: 2px;
                background-color: #121212d6;
                display: block;
                transition: width 0.5s;
            }

            a:hover::after {
                width: 100%;
            }
        }
    }

    button {
        border-radius: 50%;
        position: absolute;
        top: 90vh;
        left: 3vw;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

/*******************************************************************/
.banner {
    display: flex;

    .banner-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20vh;

        width: 65vw;
        margin-left: auto;
        padding-right: 2.5vw;

        h1 {
            margin-top: 7vh;
            font-size: 13vh;
            font-family: 'Kanit';
        }

        p {
            color: #fff;
            line-height: 6vh;
            font-size: 5vh;
            text-align: right;
            width: 120vh;
            font-family: 'Kanit';
        }
    }
}

/*******************************************************************/
/*******************************************************************/
.parallax {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;

    .center-block {
        width: 100%;
        height: 35vh;

        .parallax-text {
            color: white;
            display: flex;
            gap: 21vw;

            display: flex;
            justify-content: center;

            h1 {
                width: 13vw;
                font-family: 'Single day';
                font-size: 7vh;
                text-align: center;
            }
        }
    }

    .earth {
        background-image: url('./img/section2/earth.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .stars {
        background-image: url('./img/section2/stars.png');
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .slide-text {
        color: rgb(106, 106, 106);
        font-size: 25vh;
        width: 300vh;
        opacity: 0.2;
        font-family: 'Single day';
        z-index: 0;
    }
}

/*******************************************************************/
.portals {
    width: 100%;
    height: 32vh;
    margin-top: 3vh;

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/*******************************************************************/
/*******************************************************************/
.section-3 {
    background: url('./img/section3/bulbs.jpg') no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;

    .close-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 5vh;
        margin: 4vh 2vw 0 0;
    }
}

/*******************************************************************/
.home {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    gap: 7vh 5vw;
    align-self: flex-end;
    margin: 0 auto;
}

/*******************************************************************/
.glow-box {
    width: 12vw;
    height: 18vh;
    border: 2px solid white;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 900;
    font-size: 5vh;
    font-family: 'Single day';
}

.glow-box:before {
    content: "";
    background: linear-gradient(45deg,
            #fff,
            #faf8e3,
            #faf6c5,
            #faf189,
            #faec48,
            #ffea03,
            #faec48,
            #faf189,
            #faf6c5,
            #faf8e3,
            #fff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 360%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-box:active {
    color: #000;
}

.glow-box:active:after {
    background: transparent;
}

.glow-box:hover:before {
    opacity: 1;
    scale: 1.06;
}

.glow-box:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*******************************************************************/
.footer {
    border-top: 4px solid white;
    width: 100%;
    height: 8vh;
    align-self: flex-end;
    padding-right: 2vw;

    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*******************************************************************/
.about-me {
    background: whitesmoke;
    width: 100%;
    height: 90vh;
    font-size: 3vh;
    display: flex;

    img {
        width: 17vw;
        height: 40vh;
        border-radius: 50%;
        align-self: center;
        margin: 0 0 0 auto;
    }

    .text {
        width: 50%;
        padding: 3vh 0 3vh 0;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        line-height: 5vh;
        align-self: center;
        margin: auto;

        h1 {
            font-size: 7vh;
            margin-bottom: 3vh;
        }

        h3 {
            opacity: 0.5;
            margin-bottom: 2vh;
        }

        mark {
            color: orange;
            background: transparent;
        }
    }
}

/*******************************************************************/
.work {
    background: whitesmoke;
    width: 100%;
    height: 92vh;
    display: flex;

    .main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            width: 28vw;
        }

        .tree {
            border-left: 3px solid black;
            padding-top: 5vh;

            .item {
                display: flex;
                margin-bottom: 5vh;
                cursor: pointer;

                .text {
                    border: 1px solid black;
                    border-radius: 10px;
                    width: 28vw;
                    padding: 1vw;

                    h1 {
                        margin-bottom: 1vh;
                    }

                    mark {
                        font-size: 3vh;
                        color: blue;
                        background: transparent;
                    }
                }
            }
        }
    }
}